<section class="container-fluid bg-[#1E1E1E]">
  <app-header></app-header>
  <div class="text-white text-center h-50">
    <p class="text-[1.5rem] font-[Simonetta-Regular]">Salut, je suis Joachim Tocqueville !</p>
    <p class="mx-100 pt-5 text-[1.2rem] font-[Simonetta-Italic]">Je suis étudiant en BUT MMI à l'université Gustave Eiffel, à Meaux. Je suis passionnée par la musique et la programmation, je cherche sans arrêt à développer mes compétences. Sur ce site, vous trouverez un aperçu des différents projets que j'ai pu réalisé durant ma 1ère année, ainsi que des projets personnels.</p>
  </div>
  <div class="flex">
    <app-menu></app-menu>
    <div class="ml-70 w-[61.05rem] h-[2px] bg-linear-to-r from-[#000000] from-48% to-[#D9D9D9] to-53% absolute z-1"></div>
    <div class="bg-[#292929] h-115 w-101 pt-8 text-center">
        <span class="text-[1.5rem] text-white font-[Simonetta-Regular]">Titre</span>
        <img src="" alt="" class="bg-[#D9D9D9] h-24 w-24 rounded-full text-center pt-4 pl-4 mt-18.5 ml-43.5 absolute z-2">
        <div class="absolute ml-[7.6rem] mt-[1.3rem] z-1">
          <svg class="fill-[#2C2C2C] stroke-black stroke-4 h-48">
            <circle cx="100" cy="100" r="80"/>
          </svg>
        </div>
        <div class="absolute ml-8 mt-60 z-1">
          <svg class="fill-[#111111] h-20 absolute">
            <circle cx="40" cy="40" r="32.5"/>
          </svg>
          <a class="ml-8 mt-[1.4rem] border-t-18 border-t-transparent border-l-25 border-l-[#51F076] border-b-18 border-b-transparent absolute" routerLink=""></a>
        </div>
        <div class="ml-9">
          <svg class="mt-59 ml-[7.6rem] h-16 w-16 stroke-2 absolute">
            <rect x="5" y="5" width="55" height="55" fill="#1A1A1A" stroke="#F99D43"/>
            <text x="21" y="44" font-size="30" fill="white">C</text>
          </svg>
          <svg class="mt-59 ml-[11.8rem] h-16 w-16 stroke-2 absolute">
            <rect x="5" y="5" width="55" height="55" fill="#1A1A1A" stroke="#F99D43"/>
            <text x="16" y="43" font-size="30" fill="white">Lo</text>
          </svg>
          <svg class="mt-76 ml-[7.6rem] h-16 w-16 stroke-2 absolute">
            <rect x="5" y="5" width="55" height="55" fill="#1A1A1A" stroke="#F99D43"/>
            <text x="16" y="43" font-size="30" fill="white">La</text>
          </svg>
          <svg class="mt-76 ml-[11.8rem] h-16 w-16 stroke-2 absolute">
            <rect x="5" y="5" width="55" height="55" fill="#1A1A1A" stroke="#F99D43"/>
            <text x="21" y="44" font-size="30" fill="white">D</text>
          </svg>
        </div>
    </div>
    <hr class="h-105 border-l-3 border-[#151515]">
    <div>
        <div class="bg-[#292929] h-115 w-41 text-center text-[1.2rem] text-white pt-8 font-[Simonetta-Regular]">
            <span>Projets Front-end</span>
        </div>
    </div>
    <hr class="h-105 border-l-3 border-[#151515]">
    <div>
        <div class="bg-[#292929] h-115 w-101 pt-8 text-center">
          <span class="text-[1.5rem] text-white font-[Simonetta-Regular]">Titre</span>
          <img src="" alt="" class="bg-[#D9D9D9] h-27 w-27 rounded-full text-center pt-4 pl-4 mt-17 ml-42 absolute z-2">
          <div class="absolute ml-[7.6rem] mt-[1.3rem] z-1">
            <svg class="fill-[#2C2C2C] stroke-black stroke-4 h-48">
              <circle cx="100" cy="100" r="90"/>
            </svg>
          </div>
          <div class="absolute ml-8 mt-60 z-1">
            <svg class="fill-[#111111] h-20 absolute">
              <circle cx="40" cy="40" r="32.5"/>
            </svg>
            <a class="ml-8 mt-[1.4rem] border-t-18 border-t-transparent border-l-25 border-l-[#51F076] border-b-18 border-b-transparent absolute" routerLink=""></a>
          </div>
        </div>
    </div>
    <div class="ml-70 mt-[28.6rem] w-[61.05rem] h-[2px] bg-linear-to-r from-[#000000] from-48% to-[#D9D9D9] to-53% absolute z-2"></div>
    <app-formcontact></app-formcontact>
  </div>
  <footer>
    <div class="bg-[#5D5D5D] text-white text-center text-[1.3rem] font-[Simonetta-Regular]">Contact : joachim.tocqueville@gmail.com - 0784912084 - Produit par Tocqueville Joachim sur Visual Studio Code</div>
  </footer>
</section>