<section class="container-fluid bg-[#1E1E1E]">
  <app-header></app-header>
  <div (mousemove)="onMouseMove($event)" (mouseup)="stopResize()" (mouseleave)="stopResize()" class="text-white text-center h-130 relative">
    <section [style.height.px]="sectionHeight" class="relative overflow-hidden">
      <!-- Projet 1 -->
      <section id="tab-section-projet1">
        <p class="text-[1.5rem] font-[Simonetta-Regular]">Tech my bro</p>
        <div class="mx-100 pt-5 text-[1.2rem] font-[Simonetta-Italic] absolute">
          <p id="Contexte1">
            Voici un de mes projets personnels, il consistait en la création d'une pochette pour la musique "Tech my bro" de Spadrag.
            Pour cela, il a fallu imaginer un design qui allait bien avec la DA de la musique ainsi que celle de l'artiste.
            J'avais tout de suite pensé à un design futuriste avec une tête de robot car c'est un son techno. Le choix des couleurs fut assez simple.
            Les polices ont été réfléchies juste après mais cette réflexion a pris un peu de temps. Et enfin j'ai cherché un fond sympa tout en restant dans la même DA.
          </p>
          <p id="Logiciels_Langages1">
            Ensuite, j'ai utilisé Google et Youtube pour mes recherches.
            Mais je me suis également servi de Photoshop pour l'assemblage et la modification des différents éléments, notamment la tête de robot.
          </p>
          <p id="Date1">
            J'ai réalisé ce projet sur deux jours avec une pause d'un jour du 29/09/2025 au 01/10/2025.
            Le premier jour, j'ai cherché des idées et inspirations et le troisième j'ai réalisé la cover.
            En seulement quelques heures, j'avais créé la pochette en suivant toutes les étapes de création, sans compter les recherches bien sûr.
          </p>
          <p id="Difficultes_rencontrees1">
            Durant l'élaboration de cette cover, j'ai eu du mal à trouver la bonne tête, un bon fond et des polices qui correspondaient au thème.
            Le problème principal était que je prenais du temps à trouver des éléments qui étaient adaptés et intéressants.
            Enfin, j'ai partagé cette cover à Spadrag et il en était fier, tout comme moi.
          </p>
        </div>
        <img src="/imgs/Tech_my_bro.webp" alt="Image de 'Tech my bro'" class="bg-[#D9D9D9] h-80 w-60 ml-300 mt-5 text-center text-[#818181] font-[Simonetta-Regular] content-center absolute">
      </section>

      <!-- Projet 2 -->
      <section id="tab-section-projet2">
        <p class="text-[1.5rem] font-[Simonetta-Regular] mr-160">ACF2L</p>
        <div class="mx-100 ml-20 pr-80 pt-5 text-[1.2rem] font-[Simonetta-Italic] absolute">
          <p id="Contexte2">
            Ce projet universitaire consistait en la refonte du site web de l'aéroclub ACF2L.
          </p>
          <p id="Logiciels_Langages2">
            Pour cela, il a fallu penser et recréer un design sur Figma. Après quelques recherches et essais, nous avons trouvé le design qu'il nous fallait.
            Ensuite, nous l'avons codé en HTML, CSS et Bootstrap sur Visual Studio Code.
          </p>
          <p id="Date2">
            Ce projet a débuté le 13/09/2025 et a duré 10 jours. Il s'est étendu sur plusieurs jours car nous avions des cours et devoirs durant cette période.
            Malgré ça, on a tout fait pour se consacrer au maximum à ce projet.
          </p>
          <p id="Difficultes_rencontrees2">
            Lors de sa création, nous avons eu du mal à trouver un bon design et à coder le fondu entier, avec le cercle exclu, comme sur l'image de droite.
            Cependant, nous avons tout de même réussi à relever le défi et nous avons rendu et partagé ce projet sur GitHub.
          </p>
        </div>
        <img src="/imgs/ACF2L.webp" alt="Image de 'Tech my bro'" class="bg-[#D9D9D9] h-80 w-160 ml-215 mt-5 text-center text-[#818181] font-[Simonetta-Regular] content-center absolute">
      </section>

      <!-- Projet 3 -->
      <section id="tab-section-projet3">
          <p class="text-[1.5rem] font-[Simonetta-Regular]">Tech my bro2</p>
          <div class="mx-100 pt-5 text-[1.2rem] font-[Simonetta-Italic] absolute">
            <p id="Contexte3">
              Voici un de mes projets personnels, il consistait en la création d'une pochette pour la musique "Tech my bro" de Spadrag.
              Pour cela, il a fallu imaginer un design qui allait bien avec la DA de la musique ainsi que celle de l'artiste.
              J'avais tout de suite pensé à un design futuriste avec une tête de robot car c'est un son techno. Le choix des couleurs fut assez simple.
              Les polices ont été réfléchies juste après mais cette réflexion a pris un peu de temps. Et enfin j'ai cherché un fond sympa tout en restant dans la même DA.
            </p>
            <p id="Logiciels_Langages3">
              Ensuite, j'ai utilisé Google et Youtube pour mes recherches.
              Mais je me suis également servi de Photoshop pour l'assemblage et la modification des différents éléments, notamment la tête de robot.
            </p>
            <p id="Date3">
              J'ai réalisé ce projet sur deux jours avec une pause d'un jour du 29/09/2025 au 01/10/2025.
              Le premier jour, j'ai cherché des idées et inspirations et le troisième j'ai réalisé la cover.
              En seulement quelques heures, j'avais créé la pochette en suivant toutes les étapes de création, sans compter les recherches bien sûr.
            </p>
            <p id="Difficultes_rencontrees3">
              Durant l'élaboration de cette cover, j'ai eu du mal à trouver la bonne tête, un bon fond et des polices qui correspondaient au thème.
              Le problème principal était que je prenais du temps à trouver des éléments qui étaient adaptés et intéressants.
              Enfin, j'ai partagé cette cover à Spadrag et il en était fier, tout comme moi.
            </p>
          </div>
          <img src="/imgs/Tech_my_bro.webp" alt="Image de 'Tech my bro'" class="bg-[#D9D9D9] h-80 w-60 ml-300 mt-5 text-center text-[#818181] font-[Simonetta-Regular] content-center absolute">
        </section>
  
        <!-- Projet 4 -->
        <section id="tab-section-projet4">
          <p class="text-[1.5rem] font-[Simonetta-Regular] mr-160">ACF2L2</p>
          <div class="mx-100 ml-20 pr-80 pt-5 text-[1.2rem] font-[Simonetta-Italic] absolute">
            <p id="Contexte4">
              Ce projet universitaire consistait en la refonte du site web de l'aéroclub ACF2L.
            </p>
            <p id="Logiciels_Langages4">
              Pour cela, il a fallu penser et recréer un design sur Figma. Après quelques recherches et essais, nous avons trouvé le design qu'il nous fallait.
              Ensuite, nous l'avons codé en HTML, CSS et Bootstrap sur Visual Studio Code.
            </p>
            <p id="Date4">
              Ce projet a débuté le 13/09/2025 et a duré 10 jours. Il s'est étendu sur plusieurs jours car nous avions des cours et devoirs durant cette période.
              Malgré ça, on a tout fait pour se consacrer au maximum à ce projet.
            </p>
            <p id="Difficultes_rencontrees4">
              Lors de sa création, nous avons eu du mal à trouver un bon design et à coder le fondu entier, avec le cercle exclu, comme sur l'image de droite.
              Cependant, nous avons tout de même réussi à relever le défi et nous avons rendu et partagé ce projet sur GitHub.
            </p>
          </div>
          <img src="/imgs/ACF2L.webp" alt="Image de 'Tech my bro'" class="bg-[#D9D9D9] h-80 w-160 ml-215 mt-5 text-center text-[#818181] font-[Simonetta-Regular] content-center absolute">
        </section>

      <!--<div (mousedown)="startResize($event)" class="absolute -bottom-2 left-1/2 transform -translate-x-1/2 w-20 h-4 bg-indigo-500 rounded-full cursor-ns-resize flex justify-center">
        <svg class="w-4 h-4 text-white" fill="currentColor" viewBox="0 0 20 20">
          <path d="M5 8l5 5 5-5H5z"/>
        </svg>
      </div>-->
    </section>
  </div>
  <div class="flex">
    <app-menu></app-menu>
      <!-- Dégradé bord haut -->
      <div class="ml-70 w-[61.05rem] h-[2px] bg-linear-to-r from-[#000000] from-48% to-[#D9D9D9] to-53% absolute z-1"></div>
      <!-- Projet 1 -->
      <div class="bg-[#292929] h-115 w-101 pt-5 text-center" id="projet1">
        <span class="text-[2rem] text-white font-[Simonetta-Regular] ml-9">Tech my bro</span>
        <!-- Jogwheel avec img projet 1-->
        <img src="/imgs/Tech_my_bro.webp" alt="Image de 'Tech my bro'" id="imgTechmybro" class="bg-[#D9D9D9] h-24 w-24 rounded-full object-fill overflow-hidden block text-center text-[#818181] font-[Simonetta-Regular] mt-16.5 ml-43.5 content-center absolute z-2">
        <div class="absolute ml-[7.6rem] mt-[0.8rem] z-1">
          <svg class="fill-[#2C2C2C] stroke-black stroke-4 h-48">
            <circle cx="100" cy="100" r="80"/>
          </svg>
        </div>
        <!-- Bouton play/pause -->
        <div class="absolute ml-8 mt-65 z-1">
          <!-- Zone cliquable élargie (hit area) -->
          <button id="hitPlayProjet1" (click)="changePlayPause($event)" aria-label="play-pause-projet1" class="absolute l-0 t-0 w-[64px] h-[64px] bg-transparent border-none p-0 z-3 cursor-pointer"></button>
          <svg (click)="changePlayPause($event)" class="fill-[#111111] h-20 absolute cursor-pointer">
            <circle cx="40" cy="40" r="32.5"/>
            <line x1="28.7" y1="22.6" x2="28.7" y2="57.4" stroke="#51F076" stroke-width="7" id="line1projet1" class="hidden"/>
            <line x1="52.5" y1="22.6" x2="52.5" y2="57.4" stroke="#51F076" stroke-width="7" id="line2projet1" class="hidden"/>
          </svg>
          <button id="tab-btn-projet1" (click)="switchToTab('projet1')" type="button" class="cursor-pointer ml-8 mt-[1.4rem] border-t-18 border-t-transparent border-l-25 border-l-[#51F076] border-b-18 border-b-transparent absolute"></button>
        </div>
        <!-- Hot cues -->
        <div class="ml-9">
          <nav class="main-nav">
            <a class="nav-link" href="#Contexte1">
              <svg class="mt-59 ml-[7.6rem] h-16 w-16 absolute">
                <rect x="5" y="5" width="55" height="55" fill="#1A1A1A" stroke="#F99D43" stroke-width="2"/>
                <text x="21" y="44" font-size="30" fill="white">C</text>
              </svg>
            </a>
            <a class="nav-link" href="#Logiciels_Langages1">
              <svg class="mt-59 ml-[11.8rem] h-16 w-16 absolute">
                <rect x="5" y="5" width="55" height="55" fill="#1A1A1A" stroke="#F99D43" stroke-width="2"/>
                <text x="25" y="43" font-size="30" fill="white">L</text>
              </svg>
            </a>
            <a class="nav-link" href="#Date1">
              <svg class="mt-76 ml-[7.6rem] h-16 w-16 absolute">
                <rect x="5" y="5" width="55" height="55" fill="#1A1A1A" stroke="#F99D43" stroke-width="2"/>
                <text x="13.5" y="43" font-size="30" fill="white">Da</text>
              </svg>
            </a>
            <a class="nav-link" href="#Difficultes_rencontrees1">
              <svg class="mt-76 ml-[11.8rem] h-16 w-16 absolute">
                <rect x="5" y="5" width="55" height="55" fill="#1A1A1A" stroke="#F99D43" stroke-width="2"/>
                <text x="17" y="44" font-size="30" fill="white">Di</text>
              </svg>
            </a>
          </nav>
        </div>
      </div>
      <!-- Projet 3 -->
      <div class="bg-[#292929] h-115 w-101 pt-5 text-center hidden" id="projet3">
          <span class="text-[2rem] text-white font-[Simonetta-Regular] ml-9">Tech my bro2</span>
          <!-- Jogwheel avec img projet 3-->
          <img src="/imgs/Tech_my_bro.webp" alt="Image de 'Tech my bro'" id="imgTechmybro" class="bg-[#D9D9D9] h-24 w-24 rounded-full object-fill overflow-hidden block text-center text-[#818181] font-[Simonetta-Regular] mt-16.5 ml-43.5 content-center absolute z-2">
          <div class="absolute ml-[7.6rem] mt-[0.8rem] z-1">
          <svg class="fill-[#2C2C2C] stroke-black stroke-4 h-48">
              <circle cx="100" cy="100" r="80"/>
          </svg>
          </div>
          <!-- Bouton play/pause -->
          <div class="absolute ml-8 mt-65 z-1">
          <!-- Zone cliquable élargie (hit area) -->
          <button id="hitPlayProjet3" (click)="changePlayPause($event)" aria-label="play-pause-projet3" class="absolute l-0 t-0 w-[64px] h-[64px] bg-transparent border-none p-0 z-3 cursor-pointer"></button>
          <svg (click)="changePlayPause($event)" class="fill-[#111111] h-20 absolute cursor-pointer">
              <circle cx="40" cy="40" r="32.5"/>
              <line x1="28.7" y1="22.6" x2="28.7" y2="57.4" stroke="#51F076" stroke-width="7" id="line1projet3" class="hidden"/>
              <line x1="52.5" y1="22.6" x2="52.5" y2="57.4" stroke="#51F076" stroke-width="7" id="line2projet3" class="hidden"/>
          </svg>
          <button id="tab-btn-projet3" (click)="switchToTab('projet3')" type="button" class="cursor-pointer ml-8 mt-[1.4rem] border-t-18 border-t-transparent border-l-25 border-l-[#51F076] border-b-18 border-b-transparent absolute"></button>
          </div>
          <!-- Hot cues -->
          <div class="ml-9">
          <nav class="main-nav">
              <a class="nav-link" href="#Contexte3">
              <svg class="mt-59 ml-[7.6rem] h-16 w-16 absolute">
                  <rect x="5" y="5" width="55" height="55" fill="#1A1A1A" stroke="#F99D43" stroke-width="2"/>
                  <text x="21" y="44" font-size="30" fill="white">C</text>
              </svg>
              </a>
              <a class="nav-link" href="#Logiciels_Langages3">
              <svg class="mt-59 ml-[11.8rem] h-16 w-16 absolute">
                  <rect x="5" y="5" width="55" height="55" fill="#1A1A1A" stroke="#F99D43" stroke-width="2"/>
                  <text x="25" y="43" font-size="30" fill="white">L</text>
              </svg>
              </a>
              <a class="nav-link" href="#Date3">
              <svg class="mt-76 ml-[7.6rem] h-16 w-16 absolute">
                  <rect x="5" y="5" width="55" height="55" fill="#1A1A1A" stroke="#F99D43" stroke-width="2"/>
                  <text x="13.5" y="43" font-size="30" fill="white">Da</text>
              </svg>
              </a>
              <a class="nav-link" href="#Difficultes_rencontrees3">
              <svg class="mt-76 ml-[11.8rem] h-16 w-16 absolute">
                  <rect x="5" y="5" width="55" height="55" fill="#1A1A1A" stroke="#F99D43" stroke-width="2"/>
                  <text x="17" y="44" font-size="30" fill="white">Di</text>
              </svg>
              </a>
          </nav>
          </div>
      </div>
      <hr class="h-115 border-l-3 border-[#151515]">
      <div>
          <div class="bg-[#292929] h-115 w-41 text-center text-[1.4rem] text-white pt-5 font-[Simonetta-Regular]">
              <p>Projets</p>
              <span>Front-end</span>
              <!-- Crossfader -->
              <hr class="mt-66 h-12 ml-[1.85rem] border-l-3 border-[#B1B1B1] absolute z-0">
              <hr class="mt-66 h-12 ml-[4.9rem] border-l-3 border-[#DCDCDC] absolute z-0">
              <svg class="mt-[16.45rem] h-16 w-41 absolute z-1 cursor-grab active:cursor-grabbing" id="fader_movible" (mousedown)="startFaderDrag($event)">
                  <rect x="74.5" y="5" width="10" height="40" stroke="#000000" stroke-width="2"/>
                  <rect x="77" y="5" width="5" height="40" fill="#DBDBDB" stroke="#000000" stroke-width="2"/>
              </svg>
              <hr class="mt-66 h-12 ml-32 border-l-3 border-[#B1B1B1] absolute z-0">
              <hr class="mt-70 h-7 w-28 ml-6 border-t-15 border-[#0C0C0C] relative">
              <div class="ml-5.5 absolute z-3 text-[2.5rem]">
                  <span class="">1</span>
                  <span class="ml-9 text-[1.7rem] align-text-bottom">3</span>
                  <span class="ml-9">5</span>
              </div>
          </div>
      </div>
      <hr class="h-115 border-l-3 border-[#151515]">
      <!-- Projet 2 -->
      <div class="bg-[#292929] h-115 w-101 pt-5 text-center" id="projet2">
          <span class="text-[2rem] text-white font-[Simonetta-Regular] ml-9">ACF2L</span>
          <!-- Jogwheel avec img projet 2-->      
          <img src="/imgs/ACF2L.webp" alt="Image de 'ACF2L'" id="imgACF2L" class="bg-[#D9D9D9] h-24 w-24 rounded-full object-cover object-right text-center text-[#818181] font-[Simonetta-Regular] mt-16.5 ml-43.5 content-center absolute z-2">
          <div class="absolute ml-[7.6rem] mt-[0.8rem] z-1">
          <svg class="fill-[#2C2C2C] stroke-black stroke-4 h-48">
              <circle cx="100" cy="100" r="80"/>
          </svg>
          </div>
          <!-- Bouton play/pause -->
          <div class="absolute ml-8 mt-65 z-1 cursor-pointer">
          <!-- Zone cliquable élargie (hit area) -->
          <button id="hitPlayProjet2" (click)="changePlayPause($event)" aria-label="play-pause-projet2" class="absolute l-0 t-0 w-[64px] h-[64px] bg-transparent border-none p-0 z-3 cursor-pointer"></button>
          <svg (click)="changePlayPause($event)" class="fill-[#111111] h-20 absolute">
              <circle cx="40" cy="40" r="32.5"/>
              <line x1="28.7" y1="22.6" x2="28.7" y2="57.4" stroke="#51F076" stroke-width="7" id="line1projet2" class="hidden"/>
              <line x1="52.5" y1="22.6" x2="52.5" y2="57.4" stroke="#51F076" stroke-width="7" id="line2projet2" class="hidden"/>
          </svg>
          <button id="tab-btn-projet2" (click)="switchToTab('projet2')" type="button" class="cursor-pointer ml-8 mt-[1.4rem] border-t-18 border-t-transparent border-l-25 border-l-[#51F076] border-b-18 border-b-transparent absolute"></button>
          </div>
          <!-- Hot cues -->
          <div class="ml-9">
              <nav class="main-nav">
              <a class="nav-link" href="#Contexte2">
                  <svg class="mt-59 ml-[7.6rem] h-16 w-16 absolute">
                  <rect x="5" y="5" width="55" height="55" fill="#1A1A1A" stroke="#F99D43" stroke-width="2"/>
                  <text x="21" y="44" font-size="30" fill="white">C</text>
                  </svg>
              </a>
              <a class="nav-link" href="#Logiciels_Langages2">
                  <svg class="mt-59 ml-[11.8rem] h-16 w-16 absolute">
                  <rect x="5" y="5" width="55" height="55" fill="#1A1A1A" stroke="#F99D43" stroke-width="2"/>
                  <text x="25" y="43" font-size="30" fill="white">L</text>
                  </svg>
              </a>
              <a class="nav-link" href="#Date2">
                  <svg class="mt-76 ml-[7.6rem] h-16 w-16 absolute">
                  <rect x="5" y="5" width="55" height="55" fill="#1A1A1A" stroke="#F99D43" stroke-width="2"/>
                  <text x="13.5" y="43" font-size="30" fill="white">Da</text>
                  </svg>
              </a>
              <a class="nav-link" href="#Difficultes_rencontrees2">
                  <svg class="mt-76 ml-[11.8rem] h-16 w-16 absolute">
                  <rect x="5" y="5" width="55" height="55" fill="#1A1A1A" stroke="#F99D43" stroke-width="2"/>
                  <text x="17" y="44" font-size="30" fill="white">Di</text>
                  </svg>
              </a>
              </nav>
          </div>
      </div>
      <!-- Projet 4 -->
      <div class="bg-[#292929] h-115 w-101 pt-5 text-center hidden" id="projet4">
          <span class="text-[2rem] text-white font-[Simonetta-Regular] ml-9">ACF2L2</span>
          <!-- Jogwheel avec img projet 4-->      
          <img src="/imgs/ACF2L.webp" alt="Image de 'ACF2L'" id="imgACF2L" class="bg-[#D9D9D9] h-24 w-24 rounded-full object-cover object-right text-center text-[#818181] font-[Simonetta-Regular] mt-16.5 ml-43.5 content-center absolute z-2">
          <div class="absolute ml-[7.6rem] mt-[0.8rem] z-1">
          <svg class="fill-[#2C2C2C] stroke-black stroke-4 h-48">
              <circle cx="100" cy="100" r="80"/>
          </svg>
          </div>
          <!-- Bouton play/pause -->
          <div class="absolute ml-8 mt-65 z-1 cursor-pointer">
          <!-- Zone cliquable élargie (hit area) -->
          <button id="hitPlayProjet4" (click)="changePlayPause($event)" aria-label="play-pause-projet4" class="absolute l-0 t-0 w-[64px] h-[64px] bg-transparent border-none p-0 z-3 cursor-pointer"></button>
          <svg (click)="changePlayPause($event)" class="fill-[#111111] h-20 absolute">
              <circle cx="40" cy="40" r="32.5"/>
              <line x1="28.7" y1="22.6" x2="28.7" y2="57.4" stroke="#51F076" stroke-width="7" id="line1projet4" class="hidden"/>
              <line x1="52.5" y1="22.6" x2="52.5" y2="57.4" stroke="#51F076" stroke-width="7" id="line2projet4" class="hidden"/>
          </svg>
          <button id="tab-btn-projet4" (click)="switchToTab('projet4')" type="button" class="cursor-pointer ml-8 mt-[1.4rem] border-t-18 border-t-transparent border-l-25 border-l-[#51F076] border-b-18 border-b-transparent absolute"></button>
          </div>
          <!-- Hot cues -->
          <div class="ml-9">
              <nav class="main-nav">
              <a class="nav-link" href="#Contexte4">
                  <svg class="mt-59 ml-[7.6rem] h-16 w-16 absolute">
                  <rect x="5" y="5" width="55" height="55" fill="#1A1A1A" stroke="#F99D43" stroke-width="2"/>
                  <text x="21" y="44" font-size="30" fill="white">C</text>
                  </svg>
              </a>
              <a class="nav-link" href="#Logiciels_Langages4">
                  <svg class="mt-59 ml-[11.8rem] h-16 w-16 absolute">
                  <rect x="5" y="5" width="55" height="55" fill="#1A1A1A" stroke="#F99D43" stroke-width="2"/>
                  <text x="25" y="43" font-size="30" fill="white">L</text>
                  </svg>
              </a>
              <a class="nav-link" href="#Date4">
                  <svg class="mt-76 ml-[7.6rem] h-16 w-16 absolute">
                  <rect x="5" y="5" width="55" height="55" fill="#1A1A1A" stroke="#F99D43" stroke-width="2"/>
                  <text x="13.5" y="43" font-size="30" fill="white">Da</text>
                  </svg>
              </a>
              <a class="nav-link" href="#Difficultes_rencontrees4">
                  <svg class="mt-76 ml-[11.8rem] h-16 w-16 absolute">
                  <rect x="5" y="5" width="55" height="55" fill="#1A1A1A" stroke="#F99D43" stroke-width="2"/>
                  <text x="17" y="44" font-size="30" fill="white">Di</text>
                  </svg>
              </a>
              </nav>
          </div>
      </div>
      <!-- Dégradé bord bas -->
      <div class="ml-70 mt-[28.6rem] w-[61.05rem] h-[2px] bg-linear-to-r from-[#000000] from-48% to-[#D9D9D9] to-53% absolute z-2"></div>
      <app-formcontact></app-formcontact>
  </div>
  <footer>
    <div class="bg-[#5D5D5D] text-white text-center text-[1.3rem] font-[Simonetta-Regular]">Contact : joachim.tocqueville@gmail.com - 0784912084 - Produit par Tocqueville Joachim sur Visual Studio Code</div>
  </footer>
</section>