<section class="w-70 h-115 bg-[#D9D9D9] font-[Simonetta-Italic]">
    <div class="bg-[#D9D9D9] text-[1.5rem] text-center py-2 px-2">
        <p>Une idée de projet ?</p>
        <span>Discutons-en !</span>
    </div>
    <hr class="border-2">
    
    <form class="pl-11 pt-5">
        <section class="grid gap-3">
            <div class="grid gap-1">
                <label class="block text-[1.2rem]" for="nom">Nom</label>
                <input class="bg-white w-50 h-7 rounded-sm mt-3" id="nom" type="text">
            </div>
            <div class="grid gap-1">
                <label class="block text-[1.2rem]" for="email">Email</label>
                <input class="bg-white w-50 h-7 rounded-sm  mt-3" id="email" type="email">
            </div>
            <div class="grid gap-1">
                <label class="block text-[1.2rem]" for="message">Message</label>
                <input class="bg-white w-50 h-15 rounded-sm  mt-3" id="message" type="text">
            </div>
            <div class="grid mt-2">
                <button type="submit" class="bg-[#CACACA] rounded-lg w-50 text-[1.2rem]">Contacter</button>
            </div>
        </section>
    </form>
</section>