<section class="w-70 h-105 bg-[#D9D9D9] font-[Simonetta-Italic]">
    <div class="bg-[#D9D9D9] text-[1.4rem] text-center py-2 px-2">Une idée de projet ? Discutons-en !</div>
    <hr class="border-2">
    
    <form class="pl-11">
        <div class="mt-3">
            <label class="block" for="nom">Nom</label>
            <input class="bg-white w-50 h-7 rounded-sm mt-3" id="nom" type="text">
        </div>
        <div class="mt-3">
            <label class="block" for="email">Email</label>
            <input class="bg-white w-50 h-7 rounded-sm  mt-3" id="email" type="email">
        </div>
        <div class="mt-3">
            <label class="block" for="message">Message</label>
            <input class="bg-white w-50 h-15 rounded-sm  mt-3" id="message" type="text">
        </div>
        <div class="mt-5">
            <button type="submit" class="bg-[#CACACA] rounded-lg w-50 h-6.5">Contacter</button>
        </div>
    </form>
</section>