<section class="grid gap-5 w-70 h-115 bg-black pt-5">
    <div class="bg-[#D9D9D9] mt-2 h-12">
        <div class="absolute z-2">
            <hr class="border-b-4 mt-2 ml-2 w-10 block">
            <hr class="border-b-4 mt-2 ml-2 w-10 block">
            <hr class="border-b-4 mt-2 ml-2 w-10 block">
        </div>
        <div class="text-[1.3rem] text-center relative z-1 pt-[0.4rem]">
            <a routerLink="app-accueil">Accueil</a>
        </div>
    </div>
    <a class="grid text-white text-[1.3rem] text-center py-2" routerLink="app-frontend">Front-end</a>
    <a class="grid text-white text-[1.3rem] text-center py-2" routerLink="app-backend">Back-end</a>
    <a class="grid text-white text-[1.3rem] text-center py-2" routerLink="app-design">Design</a>
    <a class="grid text-white text-[1.3rem] text-center py-2" routerLink="app-apropos">À propos</a>
</section>